<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Employee </title>
    </head>
    <body>
        <div th:if="${param.error}">
            already registered.
        </div>
        <div th:if="${param.lo}">
            You have been logged out.
        </div>
        <form th:action="@{/register}" method="post">
        <div><label> FirstName : <input type="text" name="firstname"/> </label></div>
            <div><label> LastName: <input type="password" name="lastname"/> </label></div>
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Submit"/></div>
            
        </form>
    </body>
</html>
				