<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Employee </title>
    </head>
    <body>

	<div class="container">
		<h1>Employee Management System</h1>
		<hr>
		<h2>Update Employee</h2>

		<form th:action="@{/saveEmployee}"method="POST">
			
			
			<div><label> FirstName : <input type="text" name="firstname"/> </label></div>
            <div><label> LastName: <input type="password" name="lastname"/> </label></div>
            <div><label> Email: <input type="password" name="email"/> </label></div>
				<button type="submit"> Update Employee</button>
		</form>
		
		<hr>
		
	</div>
</body>
</html>